header {
  background-color: $primarycolor;
  padding: 10px 0;
  @include flex(row, center, center);

  h1 {
    color: $myorange;
    text-align: center;
  }
}

h2,
h3 {
  color: $primarycolor;
}

.logo {
  width: 100px;
}

.navbar {
  width: 100%;
  background-color: $primarycolor;
  padding-bottom: 5px;
  @include desktop {
    position: sticky;
    top: 0;
  }
}

.header-container {
  @include flex(column, flex-start, center);
  gap: 10px;
  background-color: $primarycolor;

  // input {
  //   height: 25px;
  //   width: 250px;
  //   border-radius: 15px;
  //   padding: 13px 0;
  // }

  .right-side {
    .search-bar {
      width: max-content;
      display: flex;
      align-items: center;
      padding: 4px;
      border-radius: 16px;
      background-color: $backgroundcolor;

      input {
        margin-left: 4px;
        outline: none;
        border: none;
        background: transparent;
      }
    }

    @include desktop {
      @include flex(row, center, center);
      gap: 10px;
    }
  }

  @include desktop {
    @include flex(row, space-between, center);
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0;
  }
}

.nav {
  @include flex(column, flex-start, center);
  gap: 5px;
  padding-top: 10px;

  &:last-child {
    @include flex(row, space-around, center);
  }

  a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;

    &.active-page {
      background-color: $backgroundcolor;
      color: $primarycolor;
    }

    &:hover {
      background-color: $hovercolor;
      color: white;
    }
  }

  @include desktop {
    @include flex(row, space-around, center);
  }
}

body {
  margin: 0;
  background-color: #f4f7fa;
}

footer {
  @include flex(column, space-around, center);
  gap: 10px;
  color: white;
  background-color: $primarycolor;
  padding: 10px 0;
  margin-top: 30px;

  nav {
    @include flex(row, center, center);
    gap: 10px;
  }

  img {
    padding-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

* {
  font-family: $arial;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
.bold {
  font-family: $timesnewroman;
}

.bold {
  font-size: 1.2rem;
}
