@import "variables";

.referens-rubrik {
    text-align: center;
    font-size: 2rem;
}

.referens-container {
@include flex(column, space-around, center);
flex-wrap: wrap;
gap: 0.5rem;
margin: 0 auto;
height: 1300px;
background-color: $backgroundcolor;

@include desktop {
    @include flex(row, space-evenly, center);
    height: 500px;
    max-width: 1440px;
  }
}

.recension {
    height: 165px;
    width: 90%;
    border: 1px solid $primarycolor;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: #eeeeee;
    }
    
    @include desktop {
        width: 28%
    }
}

.telefon {
    font-size: 1rem;
    font-family: $arial;
}

.stars {
    color: gold;
    display: inline-block;
    margin-right: 100px;
    vertical-align: bottom;
}

.namn {
    display: inline-block;
    color: black;
    font-size: 16px;
}

p {
    color: black;
}