.products {
  text-align: center;
}
@media (width > 875px) {
  .products {
    text-align: left;
    padding-left: 5.4%;
  }
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.product-container .product-card {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 10px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-container .product-card img {
  max-inline-size: 70%;
}
.product-container .product-card .price {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product-container .product-card .buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (width > 875px) {
  .product-container .product-card img {
    max-inline-size: 80%;
  }
  .product-container .product-card .price {
    width: 55%;
  }
  .product-container .product-card .buttons {
    width: 60%;
  }
  .product-container .product-card:last-of-type img {
    margin-bottom: 67px;
  }
}
@media (width > 875px) {
  .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}

header {
  background-color: #2c2c2e;
  padding: 10px 0;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.navbar {
  width: 100%;
  background-color: #2c2c2e;
  padding-bottom: 5px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: #2c2c2e;
}
.header-container input {
  height: 25px;
  width: 250px;
  border-radius: 15px;
  padding: 13px 0;
}
@media (width > 875px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
}
.nav a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
}
.nav a:hover {
  background-color: #5ac8fa;
}
@media (width > 875px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

body {
  margin: 0;
  background-color: #f4f7fa;
}
body button {
  background-color: #004085;
  border: none;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  color: white;
}
body button:hover {
  cursor: pointer;
  background-color: #5ac8fa;
  border-color: #5ac8fa;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: #2c2c2e;
  padding: 10px 0;
  margin-top: 10px;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer img {
  padding-bottom: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */